body {
    margin: 0;
    background-color: #ff0000;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 20vh;
    background-color: #e27b7b;
  }
  
  main {
    background-color: #000000;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
  }
  
  footer { 
    background-color: #ec7a7a;
    margin: 0 auto;
    width: 75%;
    height: 10vh;
  }